<template>
  <q-page padding>
    <!-- content -->
    <h1>PAge Test</h1>
  </q-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
export default defineComponent({
  name: 'PageApi',
})
</script>
