/* eslint-disable @typescript-eslint/no-unsafe-assignment */
<template>
  <q-page
    class="flex column"
    :style="`background: url('images/weather/am_gradation.jpg')`"
  >
    <div class="col q-pt-lg q-px-md">
      <q-input
        v-model="inputSearch"
        placeholder="도시 검색 (영어로)"
        dark
        borderless
        @keyup.enter="getWeatherBySearch"
      >
        <template v-slot:before>
          <q-icon
            class="cursor-pointer"
            name="my_location"
            @click="getLocation"
          />
        </template>

        <template v-slot:append>
          <q-btn round dense flat icon="search" @click="getWeatherBySearch" />
        </template>
      </q-input>
    </div>
    <template v-if="weatherData">
      <div class="col text-white text-center">
        <div class="text-h4 text-weight-light">{{ weatherData.name }}</div>
        <div class="text-h6 text-weight-light">
          {{ weatherData.weather[0].main }}
        </div>
        <div class="text-h6 text-weight-light">
          {{ weatherData.weather[0].description }}
        </div>
        <div class="text-h3 text-weight-thin q-my-lg relative-position">
          <span>{{ Math.round(weatherData.main.temp) }}</span>
          <span class="text-h4 relative-position degree">&deg;C</span>
        </div>
      </div>
      <div class="col text-center">
        <img
          :src="`https://openweathermap.org/img/wn/${weatherData.weather[0].icon}@2x.png`"
          alt="sunny"
        />
      </div>
    </template>
    <template v-else>
      <div class="col column text-center text-white">
        <div class="col text-h2 text-weight-thin">
          Quasar
          <br />
          Weather
        </div>
        <q-btn class="col" flat @click="getLocation">
          <q-icon left size="3em" name="my_location" />
          <div>Find my location</div>
        </q-btn>
      </div>
    </template>
    <div
      class="col skyline"
      style="background-image: url('images/city_sihouette_1920.png')"
    ></div>
  </q-page>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import axios, { AxiosResponse } from 'axios'
import { useQuasar } from 'quasar'

export default defineComponent({
  name: 'PageIndex',

  setup() {
    const $q = useQuasar()
    const inputSearch = ref<string>('')
    const hours = ref<number>(0)
    const weatherData = ref()
    const latitude = ref<number | null>(null)
    const longitude = ref<number | null>(null)
    const apiKey = ref('8f7d9c6d976d1325376b3d261425cfac')
    interface Freegeoip {
      latitude: number
      longitude: number
      name: string
      icon: string
      description: string
      temp: number
      dt: number
      timezone: number
    }

    const getLocation = () => {
      $q.loading.show()
      if ($q.platform.is.electron) {
        axios
          .get('https://freegeoip.app/json/')
          .then((response: AxiosResponse<Freegeoip>) => {
            latitude.value = response.data.latitude
            longitude.value = response.data.longitude
            getWeatherByCoords(latitude.value, longitude.value, apiKey.value)
          })
          .catch((error) => {
            console.log(error)
          })
      } else if ($q.platform.is.android) {
        axios
          .get('https://freegeoip.app/json/')
          .then((response: AxiosResponse<Freegeoip>) => {
            latitude.value = response.data.latitude
            longitude.value = response.data.longitude
            getWeatherByCoords(latitude.value, longitude.value, apiKey.value)
          })
          .catch((error) => {
            console.log(error)
          })
      } else {
        navigator.geolocation.getCurrentPosition((position) => {
          console.log(position.coords)
          latitude.value = position.coords.latitude
          longitude.value = position.coords.longitude
          getWeatherByCoords(latitude.value, longitude.value, apiKey.value)
        })
      }
      $q.loading.hide()
    }

    const getWeatherByCoords = (lat: number, lon: number, apiKey: string) => {
      $q.loading.show()
      axios
        .get('https://api.openweathermap.org/data/2.5/weather', {
          params: {
            lat: lat,
            lon: lon,
            appid: apiKey,
            units: 'metric',
          },
        })
        .then((response: AxiosResponse<Freegeoip>) => {
          let unix_timestamp = response.data.dt
          let date = new Date(unix_timestamp * 1000)
          console.log(date.getHours())
          hours.value = date.getHours()
          weatherData.value = response.data
          weatherData.value = response.data
        })
        .catch((error) => {
          console.log(error)
        })

      $q.loading.hide()
    }

    const getWeatherBySearch = (): void => {
      $q.loading.show()
      axios
        .get('https://api.openweathermap.org/data/2.5/weather', {
          params: {
            q: inputSearch.value,
            appid: apiKey.value,
            units: 'metric',
          },
        })
        .then((response: AxiosResponse<Freegeoip>) => {
          let unix_timestamp = response.data.dt
          let date = new Date(unix_timestamp * 1000)
          hours.value = date.getHours()
          weatherData.value = response.data
        })
        .catch((error) => {
          $q.notify({
            message: '그런 도시 없어요! (한글 지원 없음)',
            color: 'purple',
            avatar:
              'https://s.gravatar.com/avatar/8f6bdcc166bab1f6206e012ea5b0d505?s=80',
          })
          console.log(error)
        })
      $q.loading.hide()
    }

    return {
      inputSearch,
      weatherData,
      latitude,
      longitude,
      getLocation,
      getWeatherBySearch,
      hours,
    }
  },
})
</script>

<style lang="sass">
.degree
  top: -18px
.skyline
  flex: 0 0 100px
  background-size: contain
  background-position: center bottom
</style>
